h1, h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Alegreya SC', serif;
}


.boss-image {
    width: 310px;
    height: 310px;
}

#user {
    margin-left: 25%;
}

p {
    text-align: center;
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
}
